<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
    <title>Panier</title>
</head>
<body>
<div layout:fragment="page_header">Panier</div>
<div layout:fragment="content">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-9">
            <div class="card card-chart" id="accueil">
                <div class="card-header card-header-success text-center">
                    <h2>Panier</h2>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-shopping">
                            <thead>
                            <tr>
                                <th class="text-center"></th>
                                <th>Produits</th>
                                <th class="th-description">Description</th>
                                <th class="text-right">Price</th>
                                <th class="text-right">Qty</th>
                                <th class="text-right">Amount</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="c: ${cart}">
                                <td>
                                    <div class="img-container">
                                        <img th:src="@{/img/prod.png}" alt="Article">
                                    </div>
                                </td>
                                <td class="td-name">
                                    <a href="#article" th:text="${c.nom}"></a>
                                    <br><small>by Eilco</small>
                                </td>
                                <td><p th:text="${c.description}"></p></td>
                                <td class="td-number"><small>&#x20AC;</small><p th:text="${c.prix}"></p></td>
                                <td class="td-number">
                                    1
                                    <div class="btn-group">
                                        <button class="btn btn-round btn-info btn-sm"><i
                                                class="material-icons">remove</i></button>
                                        <button class="btn btn-round btn-info btn-sm"><i class="material-icons">add</i>
                                        </button>
                                    </div>
                                </td>
                                <td class="td-number">
                                    <small>&#x20AC;</small><p th:text="${c.prix}"></p>
                                </td>
                                <td class="td-actions">
                                    <button type="button" rel="tooltip" data-placement="left" title="Remove item"
                                            class="btn btn-simple">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>