<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
    <title>Accueil</title>
</head>
<body>
<div layout:fragment="page_header">Accueil</div>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-chart">
                <div class="card-header card-header-success text-center">
                    <h1>Accueil</h1>
                </div>
                <div class="card-body">
                    <h4 class="card-title text-center text-capitalize">Bienvenue dans ma boutique</h4>
                    <p class="card-category">Meilleur site e-commerce</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>